{{set . "title" "Hunter Leath"}}
{{template "header.html" .}}

<div class="container">
  <h1>Hunter Leath</h1>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <p>
        I'm a Third Year studying Computer Science and Economics
        at the University of Virginia. Currently, you can find me
        working in the <a href="http://www.jeffersonswheel.org/">Security
          Group</a> on my decentralized social
        platform, <a href="http://getmelange.com">Melange</a>.
      </p>
      <p>
        Sometimes, I will post on
        my <a href="http://twitter.com/huntaub">Twitter</a>, but the
        recommended way to reach me is via email: <br/> h [AT]
        hunterleath.com.
      </p>
      <p>I'm also on Melange as hleath@airdispatch.me</p>
      <p>
        This blog will contain my thoughts about Security as well as
        interesting topics related to Economics. Stay tuned. If you
        want to learn more about what I do, head on over
        to <a href="/about">About Me</a>. For code, go
        to <a href="https://github.com/huntaub">my GitHub</a>.
      </p>
    </div>
  </div>

  {{ if .posts }}
  <!-- Begin Blog !-->
  <hr/>
  <h2>Recent Blog Posts</h2>
  
  {{ range .posts }}
  <div class="post">
    <h3><a href="/blog/view/{{ .Slug }}">{{ .Title }}</a></h3>
    <p class="text-muted"><small>on {{ format .Published "Monday, January 2 at 3:04 PM" }}</small></p>
    {{ .Body }}
  </div>
  {{ end }}

  <p><a href="/blog/list">Archive &raquo;</a></p>  
  {{ end }}

  <br/>
</div>

{{template "footer.html" .}}
